@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #616379;
  --primary: #B51717;
  --dark-blue: #0F172A;
  --font-sans: var(--font-raleway);
  --font-heading: var(--font-raleway);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark-blue);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-raleway);
  --font-heading: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.world-map-mask {
  mask-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg");
  mask-size: 100% auto;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg");
  -webkit-mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}
